<% include nav.ejs %>
<br>
<br>
<br>

<div class="background_landlord">
    <!--  div class="background_landlord"> </div-->
    <div class="page-container-responsive header-card">
        <div class="col-sm-12 col-md-6 col-lg-5 space-md-8 space-md-top-8 text-contrast bg-babu">
            <div class="row space-top-8 space-8">
                <!-- <div class="col-sm-offset-1 col-sm-10 col-lg-9 col-left">
                    <h1 class="header-card__title"><strong>Rent your property today.</strong></h1>
                    <p class="header-card__body space-top-4 space-4">Welcome to Airbnb. Start by creating your listing and beign to earn some inclome with us. What does your property like?</p>
                </div> -->
            </div>
        </div>
    </div>
<div class="row">
<br>
<br>
<br>
</div>
<div class="col-md-6">
    <div class="card">
        <!-- <h4 class="link-contrast">View Your Profile</h4>
        <img class="hostProperty" height="300" width="550">
        <div class="card-block">
        <br> -->
        <p class="link-contrast">View your profile by clicking on the link below, you can also update your profile and modify your details.</p>
        <button><a href="/landlordProfile" class="modal-trigger">View Profile</a></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h4 class="link-contrast">Create A Property</h4>
            <p class="header-card__body space-top-4 space-4">Welcome to Airbnb. Start by creating your listing and beign to earn some inclome with us. What does your property like?</p>
            <img src="" height="300" width="550">
            <div class="card-block">
            <br>
            <p class="link-contrast">You can create a property by clicking on the link below. Airbnb will review the details and display to you the outcome.</p>
            <a href="#/addProperty" class="btn btn-primary">Create a Property</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h4 class="link-contrast">Analysis</h4>
            <img src="http://marketingland.com/wp-content/ml-loads/2014/02/analytics-600.jpg" height="300" width="550">
                <div class="card-block">
                    <br>
                    <p class="link-contrast">Check Analytics For AirBnB and Your Property</p>
                    <a href="#/hostAnalytics" class="btn btn-primary">Check Analytics</a>
                </div>
        </div>
    </div>
</div>
<br>
<br>