<div class="modal" id="signup">
        <h5 class="black-text center">Sign Up Here</h5>
       <hr>
    <div class="modal-content center">
      <a href="/auth/facebook" class="btn blue">facebook</a>
          <a href="/auth/google" class="btn red">Google</a>
</div> 
</div>
